@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: "#131515",
    --black2: "#2b2c28",
    --lightgreen: "#7de2d1",
    --darkgreen: "#339989",
    --white: "#fffafb",
  }