@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --black: "#131515",
    --black2: "#2b2c28",
    --lightgreen: "#7de2d1",
    --darkgreen: "#339989",
    --white: "#fffafb",
  }